html{
    font-family: 'DM Sans', sans-serif;
    background-color: rgb(18, 18,50);
}

main{
    background-color: rgb(18, 18,50);
}

.logo{
    width: auto;
    margin-top: 0.17em;
}

.blob {
    width: 20em;
    height: 20em;
    background: rgb(195,96,34);
    background: linear-gradient(0deg, rgba(195,96,34,1) 0%, rgba(192,81,62,1) 44%, rgba(253,45,45,1) 100%);
    border-radius: 69% 31% 44% 56% / 19% 21% 79% 81% ;
}

h2{
    font-family: kallisto, sans-serif;
    font-style: normal;
    font-weight: 200;
}
  