<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <link rel="stylesheet" href="style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Geologica:wght@500&family=Lekton&family=Lexend+Peta:wght@500&display=swap"
    rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</head>

<body>
    <header class="d-flex justify-content-center">
      <nav class="navbar navbar-expand-sm shadow-lg">
        <div class="container-fluid">
          <a class="navbar-brand linklogo" href="index.html" id="mt">
            <img class="logo" src="../public/img/BOSCH.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOptions" aria-controls="navbarOptions" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse linksn" id="navbarOptions">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link sobrelink" href="#grupo">Grupos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link chatlink" href="#chat">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link suglink" href="#sugest">Sugestões</a>
              </li>
              <li class="nav-item">
                <a class="nav-link loginlink" href="#login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    

    <main>
        <div class="container-fluid">
            <div class="row">
              <div class="col-lg-5 col-md-12 col-sm-12"> 
                <div class="divajusblob" id="grupo">
                  <div class="blob shadow">
                      <H2 class="name1">GRUPOS</H2>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="d-flex justify-content-center"> 
                  <div class="blobtext shadow">
                      <H2 class="name">Colaboração e a comunicação eficaz entre os membros do nosso setor da empresa. Aqui, você pode compartilhar informações importantes, trocar ideias e insights com outros membros, solicitar e oferecer suporte, agendar reuniões ou eventos relevantes para o nosso setor, além de compartilhar recursos úteis.</H2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row linha2">
              <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="d-flex justify-content-center"> 
                  <div class="blob2text shadow">
                      <H2 class="namet2">Se conectar e interagir com os membros do nosso setor da empresa. Você pode desfrutar de uma comunicação em tempo real, facilitando conversas instantâneas e ágeis com os colegas de trabalho. Além disso, é um local ideal para compartilhar informações importantes, atualizações de projetos e notícias relevantes.</H2>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12" id="chat"> 
                <div class="divajusblob" >
                  <div class="blob2 shadow">
                      <H2 class="name1">CHAT</H2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row linha3">
              <div class="col-lg-5 col-md-12 col-sm-12"> 
                <div class="divajusblob" id="sugest">
                  <div class="blob3 shadow">
                      <H2 class="name3">SUGESTÕES</H2>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="d-flex justify-content-center"> 
                  <div class="blob3text shadow">
                      <H2 class="namet3">Compartilhe suas ideias para um ambiente melhor! Estamos abertos a receber suas sugestões de melhorias e novos recursos. Queremos ouvir suas ideias e contribuições para tornar nossa plataforma ainda mais eficiente e adequada às necessidades de todos os membros.</H2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row linha4">
              <div class="d-flex justify-content-center textlogin">
                <h2 id="login">FAÇA SEU LOGIN OU SE CADASTRE!</h2> 
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
                <div class="bloblogin shadow">
                  <div class="card formulario" id="formulario">
                    <div class="card-body" id="corpoform">
                      <div class="d-flex justify-content-center">
                        <img class="logogform" src="../public/img/BOSCH.png" alt="">
                      </div>
                      <form action="post">
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control login" id="floatingInput" placeholder="Usuário">
                            <label for="floatingInput">Usuário</label>
                          </div>
                        <div class="form-floating">
                          <input type="password" class="form-control link" id="floatingPassword" placeholder="Senha">
                          <label for="floatingPassword">Senha</label>
                          <div class="d-flex justify-content-center">
                            <a href="recurera.html" class="displaylink">Esqueceu a Senha?</a>
                          </div>
                          </div>
                        <div class="botao">
                          <button type="button" class="btn btn-primary btn-sm" id="botoes">Login</button>
                        </div>
                      </form>
                      <div class="botao2">
                        <a href="registro.html" class="displaylink">Crie uma conta</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </main>
</body>

</html>