<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoschZap</title>
    <link rel="stylesheet" href="../public/css/registro.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/inicio.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Geologica:wght@500&family=Lekton&family=Lexend+Peta:wght@500&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
        </script>
</head>

<body>
    <main>
        <div class="container-fluid" style="margin-inline: 0; margin: 0; padding: 0;">
                <div class="col-2 barra">
                    <div class="sidebar" style="width: 15em; height: 100vh;">
                        <a href="index.html" class="logo"
                            style="padding-inline: 0; padding-inline: 0;background: rgb(18, 18, 50); display: flex;justify-content: center;">
                            <img src="../public/img/BOSCH.png" alt="Logo BoschZap">
                        </a>
                        <div class="grupo">
                            <a href="" class="displaylink grupos">
                                <div class="imggrupo">
                                    <img src="../public/img/sherek.jpg" alt="Foto padrão grupo">
                                </div>
                                Grupo1
                            </a>
                        </div>

                        <div class="grupo">
                            <a href="" class="displaylink grupos">
                                <div class="imggrupo">
                                    <img src="../public/img/sherek.jpg" alt="Foto padrão grupo">
                                </div>
                                Grupo2
                            </a>
                        </div>

                        <div class="grupo">
                            <a href="" class="displaylink grupos">
                                <div class="imggrupo">
                                    <img src="../public/img/sherek.jpg" alt="Foto padrão grupo">
                                </div>
                                Grupo3
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-10 mensagens">
                    <div class="row infogrupo">
                        Grupo 1
                    </div>
                </div>
        </div>
    </main>

</body>

</html>